* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    margin: 0 10px;
}

.heading {
    font-size: 2rem;
}



/* ----------------------NAV-------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;
    letter-spacing: 1px;
    width: 1082px;
}

nav ul {
    display: flex;
    right: 20%;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    padding: 10px 5px;
}

.nav-name {
    background-color: white;
    z-index: 5;
    border-radius: 20px;
    padding: 10px 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.nav-menu a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* -----------------DISPLAYS--------------- */


section {
    text-align: center;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 1082px;
    border-radius: 20px;
    color: rgb(49, 49, 49);
}


section div {
    display: flex;
    justify-content: space-evenly;
}

/* --------------------HEADER------------------ */



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    border-radius: 20px;
    height: 30rem;
    color: rgb(49, 49, 49);
    background-color: #E9E3DC;
    width: 1082px;
}


.hi {
    font-size: 10rem;
    margin: 0;
}

.name {
    font-size: 5rem;
    margin: 0;
}

.icons-div {
    margin-top: 30px;
}

.icon {
    margin: 0 55px;
    transition: all .2s ease-in;
}

.icon:hover {
    transform: scale(1.1);
}

/* -----------------------ABOUT--------------------------- */

#sec-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0;
}

#sec-about div {
    background-color: #E8E5F6;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2.7rem 4rem;
    width: 531px;
    height: 526px;
}

.about-heading {
    position: relative;
    bottom: 20px;
    font-size: 2rem;
}

.p-about {
    line-height: 35px;
    font-size: 1.2rem;
    
}

.emoji-about {
    /* position: relative;
    bottom: 55px;
    margin-left: 20px; */
    background-color: #FDF6CF;
    border-radius: 20px;
    margin-left: 30px;
    height: 526px;
    width: auto;
}

/* --------------------VISITED------------------------ */

#sec-travel {
    background-color: #F3F2F1;
}

#sec-travel .heading {
    position: relative;
    bottom: 25px;
}

.travel-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-img {
    object-fit: cover;
}

.travel-content {
    margin: 0 20px;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-color: #FCE3DA;
}

.travel-content li {
    font-size: 2rem;
    margin: 3.5rem 0;
    font-weight: bold;
    color: rgb(49, 49, 49);
    text-decoration: underline;
}

.travel-content li:hover {
    cursor: pointer;
    text-decoration: none;
}


/* ---------------------WORK-EXPERIENCE------------------- */

#sec-work {
    padding: 0;
    justify-content: space-between;
    margin-bottom: 30px;
}

.div-work {
    background-color: #E8E5F6;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 3rem 3.5rem;
    width: 525px;
    height: 90%;
}

.div-work .heading {
    position: relative;
    bottom: 5px;
}

/* .work-content {
    margin: 0 20px 20px 40px;
} */

.carousel {
    font-weight: bold;
    font-size: 2rem;
    background-color: black;
    position: relative;
    border-radius: 20px;
    margin-right: 30px;
}

#carousel-image {
    object-fit: cover;
}


.left-arrow,
.right-arrow {
    background-color: white;
    padding: 45% 10px;
    position: absolute;
    color: rgba(228, 238, 36, 0.619);
}

.left-arrow {
    left: 0px;
    display: block;
    height: 100%;
    background-color: #e8e5f63b;
    border-radius: 20px 0 0 20px;
}

.right-arrow {
    right: 0px;
    display: block;
    height: 100%;
    background-color: #e8e5f63b;
    border-radius: 0 20px 20px 0;
    
}

.p-work {
    margin-top: 20px;
    line-height: 35px;
    font-size: 1.2rem;
    font-weight: bold;
}